{% extends change_form_template_extends %}
{% load i18n admin_modify url static %}

{% block extrahead %}
    {{ block.super }}
    {% url 'admin:jsi18n' as jsi18nurl %}

    {% if has_sortable_tabular_inlines or has_sortable_stacked_inlines %}
        {% include sortable_javascript_includes_template with inlines=True %}
    {% endif %}
    {% if has_sortable_tabular_inlines %}
        <script type="text/javascript" src="{% static 'adminsortable/js/admin.sortable.tabular.inlines.js' %}"></script>
    {% endif %}
    {% if has_sortable_stacked_inlines %}
        <script type="text/javascript" src="{% static 'adminsortable/js/admin.sortable.stacked.inlines.js' %}"></script>
    {% endif %}
    {% if has_sortable_stacked_inlines %}
        <script type="text/javascript" src="{% static 'adminsortable/js/jquery.effects.core.js' %}"></script>
    {% endif %}
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    {% if has_sortable_tabular_inlines or has_sortable_stacked_inlines %}
        <link rel="stylesheet" type="text/css" href="{% static 'adminsortable/css/admin.sortable.inline.css' %}" />
    {% endif %}
    <style type="text/css">
        .nani-language-tabs span {
            display: inline-block;
            padding: 5px 15px;
            border: 1px solid #ccc;
            border-bottom: none;
            position: relative;
            left: 0px;
            top: 1px;
            font-weight: bold;
        }
        .nani-language-tabs span.current {
            border-bottom: 1px solid #fff;
        }
        .nani-language-tabs span.empty {
            opacity: 0.7;
            font-weight: normal;
        }
        .nani-language-tabs a.deletelink {
            right: -17px;
            bottom: 4px;
            position: relative;
        }
    </style>
{% endblock %}

{% block object-tools %}
    {{ block.super }}
    <div class="nani-language-tabs">
        {% for url,name,code,status in language_tabs %}
            {% if status == 'current' %}
                <input type="hidden" class="language_button selected" name="{{ code }}" />
                <span class="current">{{ name }}{% if current_is_translated and allow_deletion %}<a class="deletelink" href="./delete-translation/{{ code }}/" title="{% trans 'Delete Translation' %}">&nbsp;</a>{% endif %}</span>
            {% else %}
                <span class="{{ status }}"><a href="{{ url }}">{{ name }}</a> {% if status == 'available' and allow_deletion %}<a class="deletelink" href="./delete-translation/{{ code }}/" title="{% trans 'Delete Translation' %}">&nbsp;</a>{% endif %}</span>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
